<ion-view title="Protester &amp; Aktioner">
  <ion-nav-buttons side="right">
    <button ng-class="refreshing ? 'ion-looping' : 'ion-loop'" class="button button-icon icon" ng-click="refresh()"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <div class="list">
      <a ng-repeat="protest in protests" class="item item-thumbnail-left" href="#/tab/protest/{{protest.id}}">
        <img ng-show="protest.icon" src="{{protest.icon}}">
        <h2>{{protest.foe}}</h2>
        <p>{{protest.time}}</p>
        <p>{{protest.location}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>
