<ion-view title="Om Appen">
  <ion-content class="has-header padding">
    <div style="text-align: center;">
     
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
     <p>Om du känner till en demonstration eller något annat upptåg som du tycker borde finnas med i appen får du gärna höra av dig till Allt åt alla Stockholm.</p>
      <p class="dark">
      <a href="http://alltatalla.com/"><img src="img/aaa.png"></a><br />
      Denna app är skapad av förbundet Allt åt alla.</p>
    </div>
  </ion-content>
</ion-view>
